147_properties.csv filter=lfs diff=lfs merge=lfs -text
147_properties.json filter=lfs diff=lfs merge=lfs -text
153_properties.json filter=lfs diff=lfs merge=lfs -text
155_properties.json filter=lfs diff=lfs merge=lfs -text
161_properties.json filter=lfs diff=lfs merge=lfs -text
163_properties.json filter=lfs diff=lfs merge=lfs -text
165_properties.json filter=lfs diff=lfs merge=lfs -text
175_properties.json filter=lfs diff=lfs merge=lfs -text
183_properties.json filter=lfs diff=lfs merge=lfs -text
187_properties.json filter=lfs diff=lfs merge=lfs -text
190_properties.json filter=lfs diff=lfs merge=lfs -text
201_properties.json filter=lfs diff=lfs merge=lfs -text
210_properties.json filter=lfs diff=lfs merge=lfs -text
223_properties.json filter=lfs diff=lfs merge=lfs -text
260_properties.json filter=lfs diff=lfs merge=lfs -text
270_properties.json filter=lfs diff=lfs merge=lfs -text